# macOS системные файлы
.DS_Store

# VS Code рабочие файлы
.vscode/

# Компиляция C/C++
*.o
*.out
*.exe
*.a
*.so
*.dll

# Логи и временные файлы
*.log
*.tmp
*.swp
*.swo

# CMake сборка
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
build/
